---
import Layout from '../layouts/Layout.astro'
import Main from '../components/Main.astro'
import Overlay from '../components/Overlay.astro'
import TopSection from '../components/TopSection.astro'
import Middle from '../components/Middle.astro'
---

<Layout
    title="Caribbean Vacation 2023"
    description="Carribean Vacation Countdown application is a simple vanilla javascript countdown timer that can be set for any date and time in the future."
    image="/assets/screenshot_2.jpg"
>
    <Main img={`/assets/miami.jpg`}>
        <Overlay />
        <TopSection />
        <Middle />
    </Main>
</Layout>
