---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Caribbean Vacation 2023">
  <main class="w-screen h-screen">
    <div
      class="w-[95%] md:w-3/4 2xl:w-1/2 h-auto bg-indigo-500 text-white translate-y-[15%] md:translate-y-1/4 lg:translate-y-1/2 xl:translate-y-3/4 2xl:translate-y-full relative mx-auto py-12"
    >
      <h1 class="text-center text-3xl uppercase lg:text-5xl mb-8">
        Caribbean Vacation 2023
      </h1>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 relative mx-auto">
        <div class="relative w-1/2 lg:w-full h-auto mx-auto p-8 bg-white/25">
          <h2 class="text-center text-3xl uppercase">days</h2>
          <h3 class="text-center text-5xl">00</h3>
        </div>
        <div class="relative w-1/2 lg:w-full h-auto mx-auto p-8 bg-white/25">
          <h2 class="text-center text-3xl uppercase">hours</h2>
          <h3 class="text-center text-5xl">00</h3>
        </div>
        <div class="relative w-1/2 lg:w-full h-auto mx-auto p-8 bg-white/25">
          <h2 class="text-center text-3xl uppercase">minutes</h2>
          <h3 class="text-center text-5xl">00</h3>
        </div>
      </div>
    </div>
  </main>
</Layout>
