---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Caribbean Vacation 2023">
  <main class="w-screen h-screen">
    <div
      class="w-3/4 h-auto bg-indigo-500 text-white translate-y-full relative mx-auto py-12"
    >
      <h1 class="text-center text-5xl mb-8">Caribbean Vacation 2023</h1>
      <div class="grid grid-cols-1 lg:grid-cols-3 relative mx-auto">
        <div class="relative mx-auto p-8">
          <h2 class="text-center text-3xl uppercase">days</h2>
          <h3 class="text-center text-5xl">00</h3>
        </div>
        <div class="relative mx-auto p-8">
          <h2 class="text-center text-3xl uppercase">hours</h2>
          <h3 class="text-center text-5xl">00</h3>
        </div>
        <div class="relative mx-auto p-8">
          <h2 class="text-center text-3xl uppercase">minutes</h2>
          <h3 class="text-center text-5xl">00</h3>
        </div>
      </div>
    </div>
  </main>
</Layout>
