---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Caribbean Vacation 2023">
  <main
    class="w-screen h-auto relative bg-center bg-cover bg-no-repeat bg-[url('/assets/miami.jpg')] z-0 lg:h-screen pb-20 lg:pb-0"
  >
    <div
      class="w-full h-full absolute top-0 left-0 z-10 bg-fuchsia-700/75 mix-blend-multiply"
    >
    </div>
    <div class="w-10/12 lg:w-11/12 h-auto py-8 relative z-20 mx-auto">
      <img
        src="/assets/vacation.svg"
        alt="Palm tree logo that says; Caribbean Vacation"
        class="hidden lg:block w-full h-auto mb-32 relative mx-auto"
      />
      <img
        src="/assets/smallCount_solid.svg"
        alt="Palm tree logo that says; Caribbean Vacation"
        class="lg:hidden w-full h-auto relative mx-auto"
      />
    </div>
    <div
      class="w-[85%] md:w-3/4 2xl:w-1/2 h-auto bg-[#FF2652]/[.85] text-white relative z-20 mx-auto py-12"
    >
      <div
        class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-0 relative mx-auto"
      >
        <div class="relative w-1/2 lg:w-11/12 h-auto mx-auto p-8 bg-white/25">
          <h2 class="text-center text-3xl uppercase">days</h2>
          <h3 id="days" class="text-center text-7xl">00</h3>
        </div>
        <div class="relative w-1/2 lg:w-11/12 h-auto mx-auto p-8 bg-white/25">
          <h2 class="text-center text-3xl uppercase">hours</h2>
          <h3 id="hours" class="text-center text-7xl">00</h3>
        </div>
        <div class="relative w-1/2 lg:w-11/12 h-auto mx-auto p-8 bg-white/25">
          <h2 class="text-center text-3xl uppercase">minutes</h2>
          <h3 id="minutes" class="text-center text-7xl">00</h3>
        </div>
      </div>
      <div class="relative z-20 mx-auto py-12 w-10/12">
        <hr class="opacity-25 shadow-inset border-[2px] rounded-full" />
      </div>
      <div class="relative z-20 mx-auto">
        <h3 id="departDate" class="text-center text-3xl">January 31, 2024</h3>
        <h3 id="departDate" class="text-center text-3xl"></h3>
      </div>
    </div>
  </main>
</Layout>
