---
export interface Props {
    img?: string
    h1?: string
    h1_2?: string
}

const {
    img = '/assets/SVG/logo.svg',
    h1 = 'caribbean vacation',
    h1_2 = 'countdown',
} = Astro.props
---

<div class="w-10/12 lg:w-11/12 h-auto py-8 relative z-20 mx-auto">
    <div class="grid grid-cols-1">
        <div class="relative mx-auto mb-8 lg:mx-0">
            <img
                src={img}
                alt="Gradient Colored Palm Tree and Sun Logo."
                class="w-[150px] h-auto"
            />
        </div>
        <div class="relative mx-auto mb-8">
            <h1
                class="text-6xl leading-[0.65] lg:text-8xl lg:leading-[.75] font-bold uppercase text-my-yellow text-center"
            >
                {h1}
                <br class="hidden lg:block" />{h1_2}
            </h1>
        </div>
    </div>
</div>
<style>
    h1 {
        -webkit-text-stroke: 3px theme(colors.my-yellow);
        -webkit-text-fill-color: rgba(255, 255, 255, 0.25);
        transition: all 1s ease-in-out;
    }
</style>
